In [1]:
# map

In [2]:
def sqr(n):
    return n**2

In [3]:
sqr(2)

4

In [5]:
list(map(sqr,[1,2,3]))

[1, 4, 9]

In [7]:
list(map(len,['I','am','learning','python']))

[1, 2, 8, 6]

In [ ]:
Iterables:
    list
    dict
    tuple
    str
    set

In [9]:
list(map(len,('I','am','learning','python')))

[1, 2, 8, 6]

In [ ]:
Q1) Use map to the following results when the item is in the given_list

'potato' => 'gold'
'harpic' => 'hussain'
'mango' => 'fruiti'

given_list = ['potato','harpic','harpic']
result = ['gold','hussain','hussain']

In [10]:
def funfun(string):
    if string == 'potato':
        return 'gold'
    elif string == 'harpic':
        return 'hussain'
    else:
        return 'fruiti'

In [12]:
given_list = ['potato','harpic','harpic']
x = map(funfun,given_list)
print(list(x))

['gold', 'hussain', 'hussain']

In [15]:
def funfun(string):
    pranjul_dict = {'potato':'gold','harpic':'hussain','mango':'fruiti'}
    return pranjul_dict[string]

In [17]:
given_list = ['potato','harpic','harpic','mango']
x = map(funfun,given_list)
print(list(x))

['gold', 'hussain', 'hussain', 'fruiti']

In [18]:
x = ['11','22','33','44','55']
type(x[0])

str

In [20]:
for i in range(0,len(x)):
    x[i] = int(x[i])
print(type(x[0]))
print(x)

<class 'int'>
[11, 22, 33, 44, 55]

In [21]:
x = ['11','22','33','44','55']

x = list(map(int,x))
print(type(x[0]))

<class 'int'>

In [ ]:
Q2) x = [23,34,45,56,79,99]
    x = ['odd','even','odd','even','odd','odd']
    
    y = [1,3]
    y = ['odd','odd']
    
    z = [3,4]
    z = ['odd','even']
    
# Do it using map
# 8:07

In [22]:
def funfun2(n):
    if n%2 == 0:
        return 'even'
    else:
        return 'odd'

In [23]:
list(map(funfun2,[23,34,45,56,79,99]))

['odd', 'even', 'odd', 'even', 'odd', 'odd']

In [26]:
list(map(len,{'python':3,'java':8}))

[6, 4]

In [28]:
def funone(n):
    return (n,n+3)

In [35]:
list(map(funone,[1,2,3,4]))

[(1, 4), (2, 5), (3, 6), (4, 7)]

In [30]:
# you can convert a list of tuples with length 2 into a dict.

In [31]:
x = {'python':3,'java':8}

In [32]:
x.items()

dict_items([('python', 3), ('java', 8)])

In [37]:
xList = [('python', 'apple'), ('java', 'mango')]
yDict = dict(xList)

In [38]:
print(yDict)

{'python': 'apple', 'java': 'mango'}

In [39]:
list(map(len,yDict.values()))

[5, 5]

In [40]:
x = [23,34,45,56,79,99]

# final_result = [34,56]
def fun(n):
    if n%2 == 0:
        return True
    else:
        return False

final_result = list(filter(fun,x))
print(final_result)

[34, 56]

In [41]:
def funtwo(n):
    return True

In [42]:
list(filter(funtwo,[23,34,45,56,79,99]))

[23, 34, 45, 56, 79, 99]

In [43]:
def funtwo(n):
    return True

In [44]:
funtwo(3)

True

In [53]:
share_dict = {'paytm':1640,'paras-defence':715,
 'tata-motors':478,'idea':12.60,'nhpc':31.80}

def fun(name):
    if share_dict[name] < 150:
        return True

list(filter(fun,['paytm','nhpc','tata-motors']))

['nhpc']

In [47]:
def simple(string):
    if string[0] == 'p':
        return True
    else:
        return False

In [48]:
simple('python')

True

In [49]:
simple('zython')

False

In [50]:
simple('cython')

False

In [51]:
simple('papaya')

True

In [52]:
simple('package')

True

In [ ]:
student_dict = {'pranjul':32,'kamlesh':55,
                'mudgal':78,'yella':56,'shinde':39}

compete_students = ['pranjul','mudgal','shinde']
passing_marks = 50
final_students = ['mudgal']

# Question of the day
# 5 minutes.

In [57]:
student_dict = {'pranjul':32,'kamlesh':55,
                'mudgal':78,'yella':56,'shinde':39}

def fun(name):
    if student_dict[name] > 50:
        return True
    else:
        return False

In [58]:
compete_students = ['pranjul','mudgal','shinde']

In [59]:
list(filter(fun,compete_students))

['mudgal']

In [ ]:
# Lambda Functions

In [ ]:
name(optional) = lambda parameters : returned value

-> don't have to use any return statement, whatever is after colon
is automatically considered to be returned.

In [60]:
fun = lambda x,y : x+y

In [61]:
fun(3,4)

7

In [62]:
fun(1,2)

3

In [63]:
fun(1,1)

2

In [64]:
fun(3,5)

8

In [65]:
fun2 = lambda x : len(x)

In [66]:
fun2('python')

6

In [67]:
fun2('a')

1

In [68]:
fun2('mango')

5

In [69]:
fun2('venkatesh')

9

In [70]:
fun2('anandas')

7

In [ ]:
fun2 = lambda x : len(x)
# The above lambda function can be written in normal function way as follows:-
# OR
def fun2(x):
    return len(x)

In [71]:
fun3 = lambda x : "even" if x%2==0 else "odd"

In [72]:
fun3(4)

'even'

In [73]:
fun3(21)

'odd'

In [74]:
number = 2100
print("even" if number%2==0 else "odd")

if number%2==0:
    print('even')
else:
    print('odd')

even

In [75]:
if number%2==0:
    print('even')
    print('HOOOWOWOWOWO')
    x = 34
    y = 30
    print(x+y)
else:
    print('odd')

even
HOOOWOWOWOWO
64

In [80]:
number = -15
"even" if number%2==0 else (number if number>0 else 'bad')

if number%2==0:
    print('even')
else:
    if number>0:
        print(number)
    else:
        print("bad")

bad

In [77]:
print(x)

even

In [82]:
fun3 = lambda a : a+5

In [83]:
fun3(45)

50

In [84]:
fun3(23)

28

In [85]:
fun3(12)

17

In [86]:
list(map(lambda a : a+5,[1,2,3,4]))

[6, 7, 8, 9]

In [88]:
list(map(lambda a : 'even' if a%2==0 else 'odd',[1,2,3,4]))

['odd', 'even', 'odd', 'even']

In [ ]:
-> map
-> filter
-> lambda
-> if else in single line
-> nested if else in single line
-> use lambda in map

In [89]:
list(filter(lambda a : True if a%2==0 else False,[1,2,3,4]))

[2, 4]

In [94]:
import re
def password_validation(password):
    if len(password) >= 8:
        list_of_regx = ['[a-z]','[0-9]','[A-Z]','[!-/:-@]']
        for regx in list_of_regx:
            if re.search(regx,password):
                continue
            else:
                return False
        else:
            return True
    else:
        return False

In [99]:
list(filter(password_validation,['Tomato@1234',
                                 'tomato@1234',
                                 '1234',
                                  '@@##',
                                  'APPLE',
                                  'Good#Papa2',
                                   '@1aQ']))

['Tomato@1234', 'Good#Papa2']

In [103]:
# if for loop terminated with a break than else part will not run.
# FOR-ELSE LOOP
# IT IS A CORRECT INDENTATION.
for i in range(1,6):
    print(i)
else:
    print('I am in else')

1
2
3
4
5
I am in else