In [1]:
def fun(a):
    return a+2

In [3]:
list(map(fun,[10,20,30]))

[12, 22, 32]

In [4]:
def fun2(a):
    if a > 0:
        return True
    else:
        return False

In [6]:
list(filter(fun2,[-9,5,-5,3,2,-1,0]))

[5, 3, 2]

In [7]:
list(map(fun2,[-9,5,-5,3,2,-1,0]))

[False, True, False, True, True, False, False]

In [8]:
x = lambda a : a+2

In [9]:
x(3)

5

In [10]:
x(10)

12

In [11]:
x(20)

22

In [13]:
x = lambda a,b,c : a+b+2*c

In [14]:
x(1,2,3)

9

In [15]:
# Test if a string contains a vowel

In [ ]:
'python' => True
'fly' => False

vowels = 'aeiou'
# using lambda expression

In [18]:
x = 'python'

# print('a' in x)
# print('e' in x)
# print('i' in x)
# print('o' in x)
# print('u' in x)

print('a' in x or 'e' in x or 'i' in x or 'o' in x or 'u' in x)

True

In [19]:
y = lambda x : 'a' in x or 'e' in x or 'i' in x or 'o' in x or 'u' in x

In [20]:
y('sky')

False

In [21]:
y('apple')

True

In [24]:
list(filter(lambda x : x > 0,[-9,5,-5,3,2,-1,0]))

[5, 3, 2]

In [22]:
x = -4
print(x > 0)

False

In [23]:
x = 4
print(x > 0)

True

In [27]:
list(filter(lambda x : x%2==0,[1,2,4,5,19,22,24,35,299,300]))

[2, 4, 22, 24, 300]

In [ ]:
# lambda functions are also known as nameless functions.

In [26]:
x = 5
print(x%2==0)

False

In [29]:
list(map(lambda x : x%2==0,[1,2,4,5,19,22,24,35,299,300]))

[False, True, True, False, False, True, True, False, False, True]

In [30]:
list(map(lambda x : 'even' if x%2==0 else 'odd',[1,2,4,5,19,22,24,35,299,300]))

['odd', 'even', 'even', 'odd', 'odd', 'even', 'even', 'odd', 'odd', 'even']

In [28]:
# lambda functions in key arguments

In [34]:
ids = [23,34,1,10,20,3,100]
sorted(ids)

[1, 3, 10, 20, 23, 34, 100]

In [33]:
ids = ['#23','#34','#1','#10','#20','#3','#100']
sorted(ids)

['#1', '#10', '#100', '#20', '#23', '#3', '#34']

In [ ]:
# sorted(ids,key=fun_which_will_be_applied_on_every_item_of_ids_before_sorting)

In [35]:
def fun(a):
    return int(a[1:])

In [36]:
fun('#100')

100

In [37]:
fun('#23')

23

In [38]:
ids = ['#23','#34','#1','#10','#20','#3','#100']
sorted(ids,key=fun)

['#1', '#3', '#10', '#20', '#23', '#34', '#100']

In [39]:
ids = ['#23','#34','#1','#10','#20','#3','#100']
sorted(ids,key=lambda x: int(x[1:]))

['#1', '#3', '#10', '#20', '#23', '#34', '#100']

In [40]:
def mango(a,b):
    return a+b

In [41]:
mango(b=32,a=14)

46

In [42]:
## List Comprehensions

In [43]:
# Short way or one line way of making a list with some logic

In [ ]:
Syntax:
    [write code inside these]

In [44]:
list1 = [1,23,43,54,65,78]

even_list = []

for i in list1:
    if i%2==0:
        even_list.append(i)
print(even_list)

[54, 78]

In [45]:
even_list = [i for i in list1 if i%2==0]

In [46]:
print(even_list)

[54, 78]

In [48]:
['apple' for i in range(3)]

['apple', 'apple', 'apple']

In [49]:
['apple'+str(i) for i in range(3)]

['apple0', 'apple1', 'apple2']

In [51]:
x = ['apple','kiwi','mango','apricot','avocado','pineapple','grapes']

y = [i for i in x if i[0] == 'a']

In [53]:
y = []
for i in x:
    if i[0] == 'a':
        y.append(i)
        
print(y)

['apple', 'apricot', 'avocado']

In [54]:
[i for i in range(3)]

[0, 1, 2]

In [55]:
[i+10 for i in range(3)]

[10, 11, 12]

In [56]:
[i+10 for i in range(3) if i>10]

[]

In [57]:
[i+10 for i in range(3) if i>1]

[12]

In [61]:
ans = []
for i in range(3):
    if i>10:
        ans.append(i+10)
print(ans)

[]

In [62]:
x = ['apple',200,(1,2),{'python':3,'java':8},'mango','kiwi',34.56]

In [63]:
[i for i in x if type(i) == str]

['apple', 'mango', 'kiwi']

In [ ]:
# Another way of list comprehension
# if else

In [64]:
x = [1,2,55,67,80]
y = ['odd','even','odd','odd','even']

In [65]:
['even' if i%2==0 else 'odd' for i in x]

['odd', 'even', 'odd', 'odd', 'even']

In [66]:
# zip

In [67]:
l1 = [1,2,3,4,5]
l2 = [10,20,30,40,50]

list(zip(l1,l2))

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]

In [68]:
l1 = [1,2,3,4,5]
l2 = [10,20,30,40]

list(zip(l1,l2))

[(1, 10), (2, 20), (3, 30), (4, 40)]

In [69]:
for val1,val2 in zip(l1,l2):
    print(val1+val2)

11
22
33
44

In [70]:
[v1+v2 for v1,v2 in zip(l1,l2)]

[11, 22, 33, 44]

In [72]:
x1 = ['app','rap','map','tap']
x2 = ['solo','polo','rolo','moto','toto']

list(zip(x1,x2))

[('app', 'solo'), ('rap', 'polo'), ('map', 'rolo'), ('tap', 'moto')]

In [76]:
x1 = ['app','rap','map','tap']
x2 = ['solo','polo','rolo','moto','toto']
x3 = [1,2,3]

list(zip(x1,x2,x3))

[('app', 'solo', 1), ('rap', 'polo', 2), ('map', 'rolo', 3)]

In [80]:
e = {'python':3,'java':8}
f = {'toto':4,'moto':5}

dict(zip(e,f))

{'python': 'toto', 'java': 'moto'}

In [79]:
# nested loop in list comprehension

In [82]:
y = []
for i in [10,5,3]:
    for j in range(1,11):
        y.append(i*j)

In [83]:
print(y)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [85]:
y = [i*j for i in [10,5,3] for j in range(1,11)]
print(y)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [86]:
x = 4
x

4

In [ ]:
NOTE: YOU CAN CONVERT EVERY LIST COMPREHENSION INTO NORMAL CODE
    
    BUT 
    
    YOU CAN NOT CONVERT EVERY FOR LOOP AND OTHER CODE INTO LIST
    COMPREHENSION

In [ ]:
NOTE2: YOU CAN CONVERT EVERY LAMDA FUNCTION INTO NORMAL FUNCTION
    
    BUT VICE-VERSA IS NOT TRUE

In [87]:
# DICT COMPREHENSION

In [89]:
list1 = ['apple','python','django','celery','cucumber']

{i:len(i) for i in list1}

{'apple': 5, 'python': 6, 'django': 6, 'celery': 6, 'cucumber': 8}

In [90]:
list1 = [(10,20),(30,40),(50,60),(70,80)]

{i[0]:i[1] for i in list1}

{10: 20, 30: 40, 50: 60, 70: 80}

In [93]:
list1 = ['apple','python','django','celery','cucumber']

for i,j in enumerate(list1):
    print(i,j)

0 apple
1 python
2 django
3 celery
4 cucumber

In [94]:
list1 = ['apple','python','django','celery','cucumber']

{i:j for i,j in enumerate(list1)}

{0: 'apple', 1: 'python', 2: 'django', 3: 'celery', 4: 'cucumber'}

In [109]:
data = {'q1': {'question': 'What is docstring?',
               'options':
               ['multiline comment','none of these','documenting function'],
              'answer':'documenting function'
              },
       'q2': {'question': 'Which is actual space station?',
             'options':
             ['ISS','ISI','RAW'],
             'answer':'ISS'},
       'q3': {'question': 'What is 1+4?',
             'options':['4','5','6'],
             'answer':'5'}}

In [111]:
print('quiz')
for question in data:
    print(data[question]['question'])
    for i,option in enumerate(data[question]['options']):
        print(i,option)
        
print('\nanswers sheet')
for question in data:
    print(data[question]['answer'])

quiz
What is docstring?
0 multiline comment
1 none of these
2 documenting function
Which is actual space station?
0 ISS
1 ISI
2 RAW
What is 1+4?
0 4
1 5
2 6

answers sheet
documenting function
ISS
5

In [113]:
data = {'india':{'population':1380000000,
                 'gender_ratio':1.02},
        'china':{'population':1400000000,
                 'gender_ratio':0.95}
       }

In [121]:
data = {'india':{'population':1380000000,
                 'gender_ratio':1.02},
        'china':{'population':1400000000,
                 'gender_ratio':0.95}
       }
for country_name in data:
    print(data[country_name]['population'])

1380000000
1400000000

In [116]:
for country_name in data:
    print('The population of ',country_name,
          ' is',data[country_name]['population'])
    print('The gender_ratio of ',country_name,
      ' is',data[country_name]['gender_ratio'])

The population of  india  is 1380000000
The gender_ratio of  india  is 1.02
The population of  china  is 1400000000
The gender_ratio of  china  is 0.95